#calc {
    position: fixed;
    top: 30px;
    left: 750px;
    border-radius: 25%;
    background-color: coral;
    width: 106px;
    height: 44px;
    box-shadow: 10px 10px darkblue;
}

body {
    background-color: rgb(57, 219, 165);
}

.fillHalfTable {
    background-color: rgb(120, 175, 68);

}

.clear {
    position: fixed;
    top: 100px;
    left: 750px;
    width: 106px;
    height: 44px;
    border-radius: 25%;
    box-shadow: 10px 10px darkblue;
    background-color: rgb(24, 204, 24);

}

.clear:hover {
    background-color: rgb(179, 255, 0);
}

#calc:hover {
    background-color: blue;
}

#fillTreeRaws {
    position: fixed;
    top: 200px;
    left: 750px;
    width: 106px;
    height: 44px;
    border-radius: 25%;
    box-shadow: 10px 10px darkblue;
    background-color: rgb(139, 34, 111);
}

#fillTreeRaws:hover {
    background-color: aqua;
}

#hover {
    position: fixed;
    top: 250px;
    left: 950px;
    width: 106px;
    height: 44px;
    border-radius: 25%;
    box-shadow: 10px 10px rgb(223, 238, 4);
    background-color: rgb(85, 212, 17);
}

#hover:hover {
    background-color: aqua;
}

.error {
    position: fixed;
    top: 250px;
    left: 750px;
    width: 106px;
    height: 44px;
    border-radius: 25%;
    box-shadow: 10px 10px darkblue;
    background-color: rgb(237, 128, 18);

}

.error:hover {
    background-color: aqua;
}

#save {
    position: fixed;
    top: 350px;
    left: 750px;
    width: 106px;
    height: 44px;
    border-radius: 25%;
    box-shadow: 10px 10px darkblue;
    background-color: rgba(12, 238, 53, 0.725);
    

}

#save:hover {
    background-color: aqua;
}
#restore {
    position: fixed;
    top: 400px;
    left: 750px;
    width: 106px;
    height: 44px;
    border-radius: 25%;
    box-shadow: 10px 10px darkblue;
    background-color: rgb(102, 225, 102);


}

#restore:hover {
    background-color: aqua;
}
#shufle {
    position: fixed;
    top: 200px;
    left: 900px;
    width: 106px;
    height: 44px;
    border-radius: 25%;
    box-shadow: 10px 10px darkblue;
    background-color: rgb(139, 34, 111);
}